---
import LinkSocialMedia from "./LinkSocialMedia.astro";

---
<footer class="bg-very-dark-blue">
    <section>
        <form action="">
            <input type="email" placeholder="Updates  in your inbox...">
            <input type="submit" value="GO">
        </form>
        <nav>
            <a href="#">Home</a>
            <a href="#">Pricing</a>
            <a href="#">Products</a>
            <a href="#">About us</a>
            <a href="#">Careers</a>
            <a href="#">Community</a>
            <a href="#">Privacy Policy</a> 
        </nav>
        <div>
            <LinkSocialMedia href="#" src="./images/icon-facebook.svg" />
            <LinkSocialMedia href="#" src="./images/icon-youtube.svg" />
            <LinkSocialMedia href="#" src="./images/icon-twitter.svg" />
            <LinkSocialMedia href="#" src="./images/icon-pinterest.svg" />
            <LinkSocialMedia href="#" src="./images/icon-instagram.svg" />
        </div>
        <a href="#">
            <img src="./images/logo.svg" alt="">
        </a>
    </section>
</footer>