---
import ButtonLink from "./ButtonLink.astro";

---
<section class="w-[90%]  m-auto overflow-hidden text-center py-24 grid gap-12 max-w-lg mx-auto">
    <h2 class="text-dark-blue font-bold text-4xl">
        Lorem ipsum dolor.
    </h2>
    <article class="mt-24 mb-12 py-12 px-6 bg-very-light-gray relative">
        <img class="absolute w-24 aspect-square inset-x-0 mx-auto -top-12" src="./images/avatar-anisha.png" alt="">
        <h3  class="text-xl mt-6 mb-6 font-bold text-dark-blue">
            Anisha
        </h3>
        <p class="text-dark-grayish-blue">
            "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima exercitationem esse aperiam, praesentium quibusdam tempore quod quisquam ullam vero explicabo enim a fugit molestiae voluptate obcaecati, blanditiis labore repudiandae rem."
        </p>
    </article>
    <ButtonLink isInlineBlock={true} href="#" >Get Started</ButtonLink>
</section>