---
import ButtonLink from "./ButtonLink.astro";

---
<section class="bg-bright-red font-bold">
    <div class="w-[90%]  m-auto overflow-hidden  max-w-screen-xl grid gap-10 text-center py-24 md:grid-cols-[40%_40%] md:justify-between md:items-center md:text-left">
        <h2 class="text-4xl text-very-pale-red">
            Simplify how your team  works  today
        </h2>
        <ButtonLink href="#" cssCustom="bg-very-light-gray !text-bright-red mx-auto w-full md:mx-0 md:justify-self-end">Get Stared</ButtonLink>
    </div>
</section>